@page "{id:int}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete Packet";
}

<h1>Delete Packet Page</h1>

<h3>Are you sure you want to delete Packet?</h3>

<h3>Name: @Model.packetWithFeatures.Name</h3>
<h3>ImgUri: @Model.packetWithFeatures.ImgUri</h3>
<br>
<br>
<h3>Packet Features</h3>
@foreach (var feature in @Model.packetWithFeatures.Features)
{
    <p>@feature.Description</p>
}
<form method="post">
<button type="submit" asp-page-handler="Delete" asp-route-id="@Model.packetWithFeatures.Id">Delete</button>
</form>